*,
*::after,
*::before{
  box-sizing: border-box;
}
body{
  margin: 0%;
}
img{
  display: inline-block;
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding:0;
}
.site-btn{
  width: 217px;
  height: 56px;
  font-family:var(--fraunces);
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  font-style: normal;
  color: #FEFCF7;
  border: none;
  border-radius: 6px;
  background: #0E8784;
  transition: opacity 1s ease;
}
.site-btn:hover{
  opacity: 0.5;
}