.workordering-container{
  width: 1110px;
  margin: 0% auto;
}
.workordering__title{
  font-family:var(--fraunces);
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-top: 392px;

}
.workordering__img{
  margin: 0;
  padding: 0;
}
.workordering__divider{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 800px;
}
.workordering__linear{
  width: 380px;
  height:2px;
  background-color: #cf8149;
  display: inline-block;
}



.workschema{
  margin: 0;
  padding: 0;
  width: 1045px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workschema__item{
  margin: 0;
  padding: 0;
  width: 285px;
}
.workschema__order{
  margin: 0;
  padding: 0;
  margin-top: 82px;
  font-family:var(--fraunces);
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}
.workschema__title{
  margin: 0;
  padding: 0;
  margin-top: 38px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  font-family:var(--fraunces);
}
.workschema__desc{
  margin: 0;
  padding: 0;
  margin-top:   92px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  opacity: 0.6;
  line-height: 26px;
  font-family:var(-roboto);
  color: #333D4B;

}
.workordering-btn{
  margin-top: 62px;
}